.has-white-background-color {
  background-color: #fff !important;
}
.has-black-background-color {
  background-color: #000 !important;
}
.has-heading-background-color {
  background-color: #212529 !important;
}
.has-light-yellow-background-color {
  background-color: #ffff98 !important;
}
.has-lemon-yellow-background-color {
  background-color: #fff44f !important;
}
.has-light-blue-background-color {
  background-color: #00ddff !important;
}
.has-neon-blue-background-color {
  background-color: #00ffff !important;
}
.has-warm-red-background-color {
  background-color: #ff4f5e !important;
}
.has-neon-green-background-color {
  background-color: #54ffbd !important;
}
.has-dark-purple-background-color {
  background-color: #6e008b !important;
}
.has-dark-green-background-color {
  background-color: #005E5E !important;
}
.has-dark-blue-background-color {
  background-color: #00458b !important;
}
.has-dark-grey-background-color {
  background-color: #959595 !important;
}
.has-light-grey-background-color {
  background-color: #e7e5e2 !important;
}

.has-white-color, .has-white-color a {
  color: #fff !important;
}
.has-black-color, .has-black-color a {
  color: #000 !important;
}
.has-heading-color, .has-heading-color a {
  color: #212529 !important;
}
.has-light-yellow-color, .has-light-yellow-color a {
  color: #ffff98 !important;
}
.has-lemon-yellow-color, .has-lemon-yellow-color a {
  color: #fff44f !important;
}
.has-light-blue-color, .has-light-blue-color a {
  color: #00ddff !important;
}
.has-neon-blue-color, .has-neon-blue-color a {
  color: #00ffff !important;
}
.has-warm-red-color, .has-warm-red-color a {
  color: #ff4f5e !important;
}
.has-neon-green-color, .has-neon-green-color a {
  color: #54ffbd !important;
}
.has-dark-purple-color, .has-dark-purple-color a {
  color: #6e008b !important;
}
.has-dark-green-color, .has-dark-green-color a {
  color: #005E5E !important;
}
.has-dark-blue-color, .has-dark-blue-color a {
  color: #00458b !important;
}
.has-dark-grey-color, .has-dark-grey-color a {
  color: #959595 !important;
}
.has-light-grey-color, .has-light-grey-color a {
  color: #e7e5e2 !important;
}

.wp-block-column.col-lg-6 {
  margin-left: 0 !important;
}

.press-asset {
  height: 0;
  min-height: 0 !important;
  padding-top: 106% !important;
}
.press-asset .wp-block-cover__inner-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.press-asset .wp-block-cover__inner-container a:hover {
  text-decoration: none;
}